
<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}"><h2>Technical Blogs<em>.</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="loginpage">
        <ul class="navbar-nav mb-2 mb-lg-0 ">
            {% if user.is_authenticated %}
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i> Hello!!  {{user.username}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark bg-dark">
               
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'profile' user.username %}"><i class="fa-solid fa-user"></i>User Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>User Dashboard</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'create-blog' %}"><i class="fa-solid fa-pen-to-square"></i> Create Blog</a></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'user_public_details' %}"><i class="fa-solid fa-gear"></i> Settings</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a></li>
                </ul>
              </div>
            {% else %}
            <!-- <li class="nav-item">
                <a 
                {% if request.path == "/authors/login/" %}
                    class="nav-link active" 
                {% else %}
                    class="nav-link" 
                {% endif %}
                aria-current="page" href="{% url 'login' %}"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
            </li> -->
            <li class="nav-item">
                <a 
                {% if request.path == "/authors/create-new-account/" %}
                    class="nav-link active" 
                {% else %}
                    class="nav-link" 
                {% endif %}
                aria-current="page" href="{% url 'register' %}"><i class="fa-solid fa-user-plus fa-lg"></i> Signup</a>
            </li>
            {% endif %}
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li> 
          <!-- <li class="nav-item">

          <div class="dropdown">
            <li class="nav-item">

            <a class="nav-link">Categories</a>

          {% for data in object_list %}
            <div class="dropdown-content">
                <a  href="{% url 'home' %}" > {{ data.name }}</a>
                {% endfor %}
               
            </div>
          </div>
          </li> -->
     
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact Us</a>
          </li>
          <div class="logindata">
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user"></i> Hello!!  {{user.username}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark bg-dark">
                   
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' user.username %}"><i class="fa-solid fa-user"></i>User Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>User Dashboard</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'create-blog' %}"><i class="fa-solid fa-pen-to-square"></i> Create Blog</a></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'user_public_details' %}"><i class="fa-solid fa-gear"></i> Settings</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a></li>
                    </ul>
                  </div>
                {% else %}
                <li class="nav-item">
                    <a 
                    {% if request.path == "/authors/login/" %}
                        class="nav-link active" 
                    {% else %}
                        class="nav-link" 
                    {% endif %}
                    aria-current="page" href="{% url 'login' %}"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a 
                    {% if request.path == "/authors/create-new-account/" %}
                        class="nav-link active" 
                    {% else %}
                        class="nav-link" 
                    {% endif %}
                    aria-current="page" href="{% url 'register' %}"><i class="fa-solid fa-user-plus fa-lg"></i> Signup</a>
                </li>
                {% endif %}
            </ul>
          </div>
     
        </ul>
      </div>
    </div>
  </nav>
   




<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">RK BLOGs</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a 
                    {% if request.path == "/" %}
                        class="nav-link active" 
                    {% else %}
                    class="nav-link"
                    {% endif %}
                    aria-current="page" href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
                </li>

                <li class="nav-item">
                    <a 
                    {% if request.path == "/contact_us/" %}
                        class="nav-link active" 
                    {% else %}
                        class="nav-link" 
                    {% endif %}
                    href="{% url 'contact_us' %}"><i class="fa-solid fa-address-book"></i> Contact Us</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i> Hello!!  {{user.username}}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark bg-dark">
               
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'profile' user.username %}"><i class="fa-solid fa-user"></i>User Profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>User Dashboard</a>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'create-blog' %}"><i class="fa-solid fa-pen-to-square"></i> Create Blog</a></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'user_public_details' %}"><i class="fa-solid fa-gear"></i> Settings</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a></li>
                </ul>
              </div>
            {% else %}
            <li class="nav-item">
                <a 
                {% if request.path == "/authors/login/" %}
                    class="nav-link active" 
                {% else %}
                    class="nav-link" 
                {% endif %}
                aria-current="page" href="{% url 'login' %}"> <i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
            </li>
            <li class="nav-item">
                <a 
                {% if request.path == "/authors/create-new-account/" %}
                    class="nav-link active" 
                {% else %}
                    class="nav-link" 
                {% endif %}
                aria-current="page" href="{% url 'register' %}"><i class="fa-solid fa-user-plus fa-lg"></i> Signup</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
</nav> -->